
.container {
    max-width: var(--container-max-width); 
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--space-md);
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--color-background); 
    z-index: 100; 
    padding: var(--space-sm) 0;
}

.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.nav-links {
    display: flex;
    gap: var(--space-lg); 
    list-style: none; 
}

.hero {
    background: #2D096D;
    background: linear-gradient(90deg,rgba(45, 9, 109, 1) 0%, rgba(93, 63, 211, 1) 50%, rgba(217, 210, 233, 1) 100%);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-lg);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(
        auto-fit, 
        minmax(250px, 1fr) 
    );
    gap: var(--space-lg); 
    margin-top: var(--space-xl);
}

.footer {
    padding: var(--space-xl) 0;
    background-color: var(--color-primary); /* Fondo morado oscuro */
    color: var(--color-text-on-primary); /* Texto blanco */
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    gap: var(--space-lg);
}